[submodule "osal"]
	path = osal
	url = https://github.com/nasa/osal.git
[submodule "apps/cf"]
	path = apps/cf
	url = https://github.com/nasa/CF.git
[submodule "apps/cs"]
	path = apps/cs
	url = https://github.com/nasa/CS.git
[submodule "apps/ds"]
	path = apps/ds
	url = https://github.com/nasa/DS.git
[submodule "apps/fm"]
	path = apps/fm
	url = https://github.com/nasa/FM.git
[submodule "apps/hk"]
	path = apps/hk
	url = https://github.com/nasa/HK.git
[submodule "apps/hs"]
	path = apps/hs
	url = https://github.com/nasa/HS.git
[submodule "apps/lc"]
	path = apps/lc
	url = https://github.com/nasa/LC.git
[submodule "apps/md"]
	path = apps/md
	url = https://github.com/nasa/MD.git
[submodule "apps/mm"]
	path = apps/mm
	url = https://github.com/nasa/MM.git
[submodule "apps/sbn"]
	path = apps/sbn
	url = https://github.com/nasa/SBN.git
[submodule "apps/sc"]
	path = apps/sc
	url = https://github.com/nasa/SC.git
[submodule "apps/sch"]
	path = apps/sch
	url = https://github.com/nasa/SCH.git
[submodule "apps/cfs_lib"]
	path = apps/cfs_lib
	url = https://github.com/nasa/cfs_lib.git
